*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    height: 100px;
}
.header__img {
    width: 60px;
}
.header__name {
    font-size: 65px;
}
.menu {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
    min-width: 60px;
    min-height: 35px;

}
#menu__toggle, .menu__btn, .span {
    display: none;
}
@media screen and (max-width: 500px) {
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        margin-left: 70%;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 50%;
        margin: 0;
        list-style: none;
        text-align: center;
    }
    .nav__link {
        display: block;
        padding: 12px 24px;
        margin-top: 5px;
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .nav__link:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
        left: 0;
    }
    .about {
        grid: 100px repeat(3, 1fr) / 1fr;
    }
    .about__header {
        grid-area: 1 / 1 / 2 / 2;
    }
    .photo {
        grid-area: 2 / 1 / 3 / 2;
    }
    .about__me {
        grid-area: 3 / 1 / 4 / 2;
    }
    .about__course {
        grid-area: 4 / 1 / 5 / 2;
    }
    .line, .box {
        display: grid;
        grid: repeat(4, 1fr) / 1fr;
    }
    .line__img, .box__img {
        width: 100%;
    }
}