img {
    display: block;
}

.body {
    display: grid;
    grid: 100px 2fr 100px / 1fr;
    gap: 10px;
}
.main {
    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 10px;
}

.about {
    display: grid;
    grid: 1fr 4fr / repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    overflow: hidden;
}
.about__header {
    grid-area: 1 / 2 / 2 / 4;
}
.photo {
    grid-area: 1 / 1 / 3 / 2;
}
.photo__img {
    width: 100%;
    object-fit: cover;
}
.about__course {
    grid-area: 2 / 3 / 3 / 4;
}
.about__me {
    grid-area: 2 / 2 / 3 / 3 ;
}
.about__header {
    display: flex;
    flex-direction: column;

}
.about__header {
    justify-content: center;
}

.cars {
    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 10px;
}
.line__img, .box__img {
    width: 100%;
}
.line {
    display: flex;
    align-items: center;
}
.box {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
}
.box__img {
    width: 52%;
}
.box__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    height: 100px;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
    .about {
        grid: 100px repeat(3, 1fr) / 1fr;
    }
    .about__header {
        grid-area: 1 / 1 / 2 / 2;
    }
    .photo {
        grid-area: 2 / 1 / 3 / 2;
    }
    .about__me {
        grid-area: 3 / 1 / 4 / 2;
    }
    .about__course {
        grid-area: 4 / 1 / 5 / 2;
    }
    .line, .box {
        display: grid;
        grid: repeat(4, 1fr) / 1fr;
    }
    .line__img, .box__img {
        width: 100%;
    }
}
.red {
    color: red;
}
.blue {
    color: blue;
}
