body {
    display: grid;
    grid: 100px 1fr / 1fr;
}
main {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr 1fr;
    border: 1px solid darkred;
    background-color: black;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid darkred;
    margin: 10px;
}