*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
ul {
    list-style-type: none;
}
img {
    display: block;
}

.body {
    display: grid;
    grid: 100px 2fr 100px / 1fr;
    gap: 10px;
}
.main {
    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    height: 100px;
}
.header__img {
    width: 60px;
}
.header__name {
    font-size: 50px;
}
.menu {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav__link {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 50px;
    font-size: 20px;
}
#menu__toggle, .menu__btn, .span {
    display: none;
}
.about {
    display: grid;
    grid: 1fr 4fr / repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    overflow: hidden;
}
.about__header {
    grid-area: 1 / 2 / 2 / 4;
}
.photo {
    grid-area: 1 / 1 / 3 / 2;
}
.photo__img {
    width: 100%;
    object-fit: cover;
}
.about__course {
    grid-area: 2 / 3 / 3 / 4;
}
.about__me {
    grid-area: 2 / 2 / 3 / 3 ;
}
.about__me, .about__course, .about__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

.cars {
    display: grid;
    grid: 1fr 1fr / 1fr;
    gap: 10px;
}
.line__img, .box__img {
    width: 100%;
}
.line {
    border: 1px solid black;
    display: flex;
    align-items: center;
}
.box {
    border: 1px solid black;
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 1fr);
}
.box__img {
    width: 52%;
}
.box__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    height: 100px;
    background-color: silver;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
    .about {
        grid: 100px repeat(3, 1fr) / 1fr;
    }
    .about__header {
        grid-area: 1 / 1 / 2 / 2;
    }
    .photo {
        grid-area: 2 / 1 / 3 / 2;
    }
    .about__me {
        grid-area: 3 / 1 / 4 / 2;
    }
    .about__course {
        grid-area: 4 / 1 / 5 / 2;
    }
    .line, .box {
        display: grid;
        grid: repeat(4, 1fr) / 1fr;
    }
    .line__img, .box__img {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        margin-left: 70%;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 50%;
        margin: 0;
        list-style: none;
        text-align: center;
    }
    .nav__link {
        display: block;
        padding: 12px 24px;
        margin-top: 5px;
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .nav__link:hover {
        background-color: #CFD8DC;
    }
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
        left: 0;
    }
    .about {
        grid: 100px repeat(3, 1fr) / 1fr;
    }
    .about__header {
        grid-area: 1 / 1 / 2 / 2;
    }
    .photo {
        grid-area: 2 / 1 / 3 / 2;
    }
    .about__me {
        grid-area: 3 / 1 / 4 / 2;
    }
    .about__course {
        grid-area: 4 / 1 / 5 / 2;
    }
    .line, .box {
        display: grid;
        grid: repeat(4, 1fr) / 1fr;
    }
    .line__img, .box__img {
        width: 100%;
    }
}

/* Стили для таблицы менделеева */
.table_link {
    display: grid;
    text-decoration: none;
    border: 2px solid darkred;
    grid: repeat(3, 1fr) / repeat(2, 1fr);
}
.table_link:link {
    color: white;
}
.table_link:visited {
    color: white;
}
.table_link:hover {
    background-color: silver;
    transform: scale(1.1);
    transition: all 0.4s linear;
}
.main_table {
    max-width: 100%;
    display: grid;
    grid: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 1%;
    grid-area: 1 / 2 / 2 / 3;
}
.pink {
    background-color: plum;
}
.yell {
    background-color: khaki;
}
.blue {
    background-color: cornflowerblue;
}
.tb_el {
    font-size: 4em;
    margin: 0;
    grid-area: 1 / 1 / 3 / 2;
}
.tb_mass {
    text-align: right;
}
.tb_name {
    grid-area: 3 / 1 / 4 / 3;
    font-size: 2em;
}
.tb_num {
    text-align: right;
}
.null {
    background-color: black;
}
.blue .tb_el {
    grid-area: 1 / 2 / 3 / 3;
    text-align: right;
}
.blue .tb_name {
    text-align: right;
}
.blue .tb_num, .blue .tb_mass {
    text-align: left;
}
.table_body {
    display: grid;
    grid: 1fr / 1fr 2fr 1fr;
}